<div class="w3-display-left w3-row-padding w3-padding-16">
  <div class="w3-third w3-margin-bottom">
    <img src="http://www.vonatosszeallitas.hu/vonatnem/kepek/gy2.jpg" width="382" height="255">
    <div class="w3-container w3-white">
      <h3>Másodosztály</h3>
      <h6 class="w3-opacity">3410 Ft-tól</h6>
      <p>Fülkés kocsi / termes kocsi</p>
      <p>8 fő/fülke / 2+2 üléselrendezés</p>
      <p class="w3-large"> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
      <button class="w3-button w3-block w3-black w3-margin-bottom">Kiválaszt</button>
    </div>
  </div>
  <div class="w3-third w3-margin-bottom">
    <img src="http://www.vonatosszeallitas.hu/vonatnem/kepek/gy1.jpg" width="382" height="255">
    <div class="w3-container w3-white">
      <h3>Elsőosztály</h3>
      <h6 class="w3-opacity">4005 Ft-tól</h6>
      <p>Fülkés kocsi / termes kocsi</p>
      <p>6 fő/fülke / 2+1 üléselrendezés</p>
      <p class="w3-large"> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
      <button class="w3-button w3-block w3-black w3-margin-bottom">Kiválaszt</button>
    </div>
  </div>
  <div class="w3-third w3-margin-bottom">
    <img src="http://www.vonatosszeallitas.hu/vonatnem/kepek/gy1p.jpg" width="382" height="255">
    <div class="w3-container w3-white">
      <h3>Komfortkocsi</h3>
      <h6 class="w3-opacity">4855 Ft-tól</h6>
      <p>Termes kocsi</p>
      <p>2+1 üléselrendezés</p>
      <p class="w3-large"><i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i>        <i class="fa fa-cutlery"></i></p>
      <button class="w3-button w3-block w3-black w3-margin-bottom">Kiválaszt</button>
    </div>
  </div>
</div>