<div class="w3-display-left w3-padding w3-col l6 m8">
  <div class="w3-container w3-white">
    <h2>Kapcsolat</h2>
    <p>Ha kérdése van, vagy problémája az oldallal kapcsolatban, küldje el nekünk!</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Szeged, Magyarország<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Telefonszám: (+36-62) 544-000<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Szegedi Tudományegyetem<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Név" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Üzenet" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
</div>